.tt_timetable th {
  font-size: 15px;
}
.tt_timetable td {
  font-size: 13px;
  transition: all 0.2s;
}
/* .tt_timetable td:hover {
  border-right: 3px solid red;
  cursor: pointer;
} */
.tt_timetable .teacher-card {
  display: block;
  position: relative;
}
.remover-btn {
  position: absolute;
  top: 0; right: 0;
  padding: 5px;
  height: 100%;
  margin: 0;
  float: right;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: none;
}
.teacher-card:hover  .remover-btn {
 display: inline-block;
}
.teacher-card {
  display: inline-block;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin: 5px;
  line-height: 1.5;
  margin: 5px;
  padding: 2px;
  /* box-shadow: 2px 2px #ccc; */
  cursor: move;
  position: relative;
  text-align: center;
  font-size: 11px;
}
/* .teacher-card::after {
  position: absolute;
  left: 0; top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9;
} */
/* .teacher-card .tc-left {
  display: inline-block;
  float: left;
  width: 35%;
  padding: 5px;
}
.teacher-card .tc-right {
  display: inline-block;
  float: left;
  width: 65%; */
}
.techer-card .badge {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 8px !important;
}
.teacher-card .tc-right .text-lg {
  font-size: 14px;
}
.teacher-card .tc-right .text-sm {
  font-size: 12px !important;
}
.teacher-card img, .teacher-card p  {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
/* .teacher-card.teacher-name {
  font-size: 18px;
} */
.teacher-searchbar {
  margin-bottom: 10px;
}
.teacher-searchbar input {
  width: 90%;
  display: inline-block;
}
.teacher-searchbar .ft-search{
  display: inline-block;
  font-size: 25px;
}
.padded  {
  padding: 15px;
}

.teacher-cards-container {
  height: 200px;
  overflow-x: scroll;
  padding: 15px;
}
.bordered {
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.addable {
  width: 250px;
  height: 80px;
}
/* .addable::after {
  content: "+";
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
} */
.hidden {
  display: none;
}
