.teachers-top-sec {
  max-height: 200px;
}
.teachers-search-from {
  position: relative;
  padding: 0px;
  height: 55px;
}
.teachers-search-from .ts-input {
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  color: #fff !important;
  border-radius: 50px;
  font-size: 20px;
  padding: 25px !important;
}
.teachers-search-from .selects-holder {
  position: absolute;
  top: 8%; right: 5%;
  z-index: 2;
  background: #fff;
  height: 80%;
  border-radius: 30px;
  overflow: hidden;
}

.teachers-search-from select {
  width: 200px !important;
  color: #333 !important;

}

.teachers-search-from .select-by-campus {
  right: 50%;
}
.teachers-search-from .select-by-faculty {
  right: 30%;
}
.teachers-search-from .select-by-program {
  right: 10%;
}
.teachers-search-from .search-icon {
  position: absolute;
  top: 8%; right: 0.5%;
  display: inline-block;
  /* width: 50px; height: 80%; */
  padding: 9px;
  font-size: 25px;
  background: #fff;
  border-radius: 50%;
  color: #333;
}
.subject-tag {
  display: inline-block;
  margin: 2px;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 11px;
}
.registration_form label {
  color: #fff !important;
}
.bordered {
  border: 1px solid #ccc !important;
}
